{% extends 'base.html'%}

{% block title %} Tarefas {% endblock%}

{% block content%}

<main class="controle-heigh">

    <br>

    <div class="container maximo">

        <div class="">

            <form method="POST">

                <fieldset>
                    <legend><b>Controle</b></legend>
                    <br>
                    <div class="iputBox">
                        {% csrf_token %}
                        {{form.as_p}}
                    </div>
                    <div class="centro">

                        <button type="submit" class="btn botao_azul centro">Cadastrar</button>
                    </div>

                </fieldset>

            </form>

        </div>

    </div>

    <br>

</main>

{% endblock %}