{% extends 'base.html'%}

{% block title %} Tarefas {% endblock%}

{% block content%}



<main>
    <br>


    <div class="container">



        <div class="row">
            <h1>Lista de Controle</h1>
            <div class="col-3 col-md-1">


                <a href="cadastroControle">
                    <div>
                        <button type="button" class="btn botao_azul">
                            Cadastrar
                        </button>
                    </div>
                </a>

            </div>


            <div class="col-9 col-md-11">
                <form method="GET" id="search-form" class="d-flex">

                    <input class="form-control me-2" type="text" name="search" id="search"
                        placeholder="Busque pela data de saida" value="{{request.GET.search}}">

                    <button class="btn botao_azul" type="submit">
                        <i class="fas fa-search" id="search-btn"></i>
                    </button>
                </form>
            </div>

        </div>

    </div>
    <br>

    <div class=" offset-1 col-sm-10">




        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item list-group-item-danger"{% if message.tags %}class="alert alert -{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}


        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Motorista</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Data Saida</th>
                    <th scope="col">Horario Saida</th>
                    <th scope="col">KM Saida</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Data Retorno</th>
                    <th scope="col">Hoario Retorno</th>
                    <th scope="col">KM Retorno</th>
                    <th scope="col">KM Percorrido</th>


                </tr>
            </thead>
            <tbody>
                {% for controle in controle %}
                <tr>
                    <td>{{controle.motorista}}</td>
                    <td>{{controle.veiculo}}</td>
                    <td>{{controle.data_saida}}</td>
                    <td>{{controle.hora_saida}}</td>
                    <td>{{controle.km_saida}}</td>
                    <td>{{controle.destino}}</td>
                    <td>{{controle.data_retorno}}</td>
                    <td>{{controle.hora_retorno}}</td>
                    <td>{{controle.km_retorno}}</td>
                    <td>{{controle.km_percorrido}}</td>
                    <td>
                        <a href="deleteControle/{{controle.id}}" class="delete-btn"><span><i
                                    class="fas fa-trash deletar"></i></span></a>
                    </td>
                    <td>
                        <a href="editControle/{{controle.id}}"><span><i class="fas fa-edit editar"></i></span></a>
                    </td>
                </tr>



                {% endfor %}

            </tbody>

        </table>
    </div>



        <div class="centro">
            <span >

                {% if controle.has_previous %}
                <a href="?page={{ controle.previous_page_number}}">
                    <li class="fas fa-arrow-left"></li>
                </a>
                {% endif %}

                <span >
                    Pagina {{controle.number}} de {{controle.paginator.num_pages}}

                </span>

                {% if controle.has_next %}
                <a href="?page={{ controle.next_page_number}}">
                    <li class="fas fa-arrow-right"></li>
                </a>
                {% endif %}
            </span>
        </div>


    </div>

</main>

{% endblock %}