{% extends 'base.html'%}

{% block title %} Tarefas {% endblock%}

{% block content%}

<main>

    <br>

    <div class="container">

        <div class="row">
            <h1>Lista de Veiculos</h1>
            <div class="col-3 col-md-1">


                <a href="cadastroVeiculo">
                    <div>
                        <button type="button" class="btn botao_azul">
                            Cadastrar
                        </button>
                    </div>
                </a>

            </div>


            <div class="col-9 col-md-11">
                <form method="GET" id="search-form" class="d-flex">

                    <input class="form-control me-2" type="text" name="search" id="search"
                        placeholder="Busque pela Placa" value="{{request.GET.search}}">

                    <button class="btn botao_azul" type="submit">
                        <i class="fas fa-search" id="search-btn"></i>
                    </button>
                </form>
            </div>

        </div>

    </div>
    <br>

    <div class="offset-1 col-10 ">



        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item list-group-item-danger" {% if message.tags %}class="alert alert -{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}


        
        <div class="table-responsive">
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Veiculo</th>
                    <th scope="col">Troca de Oleo</th>
                </tr>
            </thead>
            <tbody>
                {% for veiculos in veiculos %}
                <tr>
                    <td>{{veiculos.id}}</td>
                    <td>{{veiculos.placa}}</td>
                    <td>{{veiculos.marca}}</td>
                    <td>{{veiculos.veiculo}}</td>
                    <td>Trocar Oleo no KM {{veiculos.troca_oleo}}</td>
                    <td>
                        <a href="deleteVeiculo/{{veiculos.id}}" class="delete-btn"><span><i
                                    class="fas fa-trash deletar"></i></span></a>
                    </td>
                    <td>
                        <a href="editVeiculo/{{veiculos.id}}"><span><i class="fas fa-edit editar"></i></span></a>
                    </td>
                </tr>


                {% endfor %}

            </tbody>

        </table>
    </div>



        <div class="centro">
            <span >

                {% if veiculos.has_previous %}
                <a href="?page={{ veiculos.previous_page_number }}">
                    <li class="fas fa-arrow-left"></li>
                </a>
                {% endif %}

                <span >
                    Pagina {{veiculos.number}} de {{veiculos.paginator.num_pages}}

                </span>

                {% if veiculos.has_next %}
                <a href="?page={{ veiculos.next_page_number }}">
                    <li class="fas fa-arrow-right"></li>
                </a>
                {% endif %}
            </span>
        </div>

    </div>

</main>

{% endblock %}