{% extends 'base.html'%}

{% block title %} Tarefas {% endblock%}

{% block content%}

<main>

    <br>

    <div class="container">

        <div class="row">
            <h1>Lista de Motoristas</h1>
            <div class="col-3 col-md-1">


                <a href="cadastroMotorista">
                    <div>
                        <button type="button" class=" btn botao_azul">
                            Cadastrar
                        </button>
                    </div>
                </a>

            </div>


            <div class="col-9 col-md-11">
                <form method="GET" id="search-form" class="d-flex">

                    <input class="form-control me-2" type="text" name="search" id="search"
                        placeholder="Busque pelo nome do Motorista" value="{{request.GET.search}}">

                    <button class="btn botao_azul" type="submit">
                        <i class="fas fa-search " id="search-btn"></i>
                    </button>
                </form>
            </div>

        </div>

    </div>

    <br>

    <div class="offset-1 col-10">


        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li class="list-group-item list-group-item-danger" {% if message.tags %}class="alert alert -{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">CNH</th>
                </tr>
            </thead>
            <tbody>
                {% for motorista in motorista %}
                <tr>
                    <td>{{motorista.id}}</td>
                    <td>{{motorista.nome}}</td>
                    <td>{{motorista.fone}}</td>
                    <td>{{motorista.cnh}}</td>
                    <td>
                        <a href="deleteMotorista/{{motorista.id}}" class="delete-btn "><span><i
                                    class="fas fa-trash deletar"></i></span></a>
                    </td>
                    <td>
                        <a href="editMotorista/{{motorista.id}}"><span><i class="fas fa-edit editar"></i></span></a>
                    </td>
                </tr>


                {% endfor %}

            </tbody>

        </table>
    </div>



        <div class="centro">
            <span>

                {% if motorista.has_previous %}
                <a href="?page={{ motorista.previous_page_number }}">
                    <li class="fas fa-arrow-left"></li>
                </a>
                {% endif %}

                <span >
                    Pagina {{motorista.number}} de {{motorista.paginator.num_pages}}

                </span>

                {% if motorista.has_next %}
                <a href="?page={{ motorista.next_page_number }}">
                    <li class="fas fa-arrow-right"></li>
                </a>
                {% endif %}
            </span>
        </div>

    </div>

</main>

{% endblock %}